html {
  font-family: 'roboto','sans-serif';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0px;
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
}

.logo-client, .header-logo {
  font-family: 'shrikhand','sans-serif';
}

p {
  margin: 0px;
}

h2 {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.logo-client, .header-logo {
  font-size: 25px;
  font-family: 'shrikhand','sans-serif';
}

.reservation-ville {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #EAEAEA;
  font-size: 15px;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: inset 0px 6px 6px -6px #888;
          box-shadow: inset 0px 6px 6px -6px #888;
}

.reservation-ville-logo {
  position: relative;
  right: 15px;
}

.reservation-text {
  background-color: #F6F6F6;
}

h1 {
  margin: 0px;
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.reservation-text p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.reservation-text-bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.reservation-text-bouton-linear-gradient {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px 25px;
  border-style: none;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 5px #888;
          box-shadow: 2px 2px 5px #888;
  font-weight: bold;
  cursor: pointer;
}

.fonctionnement {
  background-color: white;
  padding-bottom: 60px;
}

.fonctionnement-container-bouton {
  width: 90%;
  margin: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 15px;
  border-style: none;
  border-radius: 20px;
}

.fonctionnement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement-bouton-logo {
  color: white;
  margin: auto;
  font-size: 10px;
}

.fonctionnement-bouton-container {
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  height: 20px;
  width: 20px;
  position: relative;
  right: 27px;
}

.fa-mobile-alt {
  position: relative;
  right: 27px;
}

.fa-list-ul {
  position: relative;
  right: 27px;
}

.fa-store {
  position: relative;
  right: 27px;
}

.bouton-text-fonctionnement {
  position: relative;
  right: 27px;
}

.restaurant {
  background-color: #F6F6F6;
  padding-bottom: 50px;
}

.restaurant-container {
  margin-bottom: 20px;
}

.restaurant-container-image {
  margin: auto;
  width: 90%;
  background-color: white;
  position: relative;
}

.restaurant-img {
  width: 100%;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.restaurant-text-float {
  position: absolute;
  right: 0%;
  margin: 15px;
  padding: 10px;
  background-color: #99E2D0;
  font-size: 15px;
  border-radius: 2px;
}

.restaurant-container-description {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  text-decoration: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  position: relative;
}

.restaurant-container-description p {
  margin: 0px;
}

.fa-heart {
  padding: 15px;
}

.restaurant-container-description-text {
  padding-left: 15px;
  padding-bottom: 15px;
}

footer {
  background-color: #353535;
}

.footer-container {
  width: 90%;
  margin: auto;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px;
}

.footer-font {
  font-family: 'shrikhand','sans-serif';
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.footer-container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-utensils {
  padding-right: 18px;
}

.fa-hands-helping {
  padding-right: 11px;
}

.header-icone {
  float: left;
  padding-left: 10px;
  padding-top: 6px;
  font-size: 20px;
}

.header-logo {
  text-align: center;
}

.container-image-menu {
  width: 100%;
}

.image-menu {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  bottom: 50px;
}

.menu-titre {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  position: relative;
}

.menu-titre-text {
  padding: 0px;
  font-family: 'shrikhand','sans-serif';
  font-weight: lighter;
}

hr {
  margin-right: auto;
  margin-left: 0px;
  width: 50px;
  height: 5px;
  background-color: #99E2D0;
  border-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-titre {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-weight: lighter;
  margin-bottom: 5px;
}

.container-menu {
  width: 90%;
  margin: auto;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 3px #888;
          box-shadow: 1px 1px 3px #888;
  margin-bottom: 12px;
}

.container-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titre-menu-bold {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

.prix-menu-bold {
  font-weight: bold;
}

.bouton-linear-gradient {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 20px 70px;
  border-style: none;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 5px #888;
          box-shadow: 2px 2px 5px #888;
  font-weight: lighter;
  cursor: pointer;
  font-size: 20px;
}

.container-bouton-menu {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.heart-color {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  position: absolute;
  right: 0%;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.heart-color:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}

.container-menu {
  -webkit-animation: appear 1s;
          animation: appear 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.container-menu:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.container-menu:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.container-menu:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.container-menu:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.container-menu:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.container-menu:nth-child(6) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.container-menu:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.container-menu:nth-child(8) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.container-menu:nth-child(9) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.container-menu:nth-child(10) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.container-menu:nth-child(11) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.container-menu:nth-child(12) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.container-menu:nth-child(13) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.container-menu:nth-child(14) {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.loader {
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  opacity: 0.8;
  height: 100vh;
  inset: 0;
  z-index: 2;
  -webkit-animation: dissapear 100ms 3s;
          animation: dissapear 100ms 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes dissapear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes dissapear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  z-index: 3;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.8s infinite;
          animation: lds-ellipsis1 0.8s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.8s infinite;
          animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.8s infinite;
          animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.8s infinite;
          animation: lds-ellipsis3 0.8s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
/*# sourceMappingURL=main.css.map */