html {
  font-family: 'roboto','sans-serif';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0px;
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-size: 20px;
}

.header__title {
  font-family: 'shrikhand','sans-serif';
}

p {
  margin: 0px;
}

h2 {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.header__title {
  font-size: 35px;
  font-family: 'shrikhand','sans-serif';
}

@use "../Utils/colors";
@use "../Utils/colors";
.reservation__ville {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #EAEAEA;
  font-size: 15px;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: inset 0px 6px 6px -6px #888;
          box-shadow: inset 0px 6px 6px -6px #888;
}

.reservation__icone {
  position: relative;
  right: 15px;
}

.reservation__lorem {
  background-color: #F6F6F6;
}

h1 {
  margin: 0px;
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.reservation__lorem p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: gray;
  font-size: 20px;
}

.reservation__boutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.reservation__boutton__color {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px 25px;
  border-style: none;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 5px #888;
          box-shadow: 2px 2px 5px #888;
  cursor: pointer;
}

@use "../Utils/colors";
.fonctionnement {
  background-color: white;
  padding-bottom: 60px;
}

.fonctionnement__boutton {
  width: 90%;
  margin: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border-style: none;
  border-radius: 20px;
  background-color: #F6F6F6;
  cursor: pointer;
  max-width: 400px;
  -webkit-box-shadow: 2px 2px 5px #888;
          box-shadow: 2px 2px 5px #888;
}

.fonctionnement__boutton:hover {
  background-color: #e4d5f6;
}

.fonctionnement__boutton:hover .fonctionnement__icone__hover {
  color: #9356DC;
}

.fonctionnement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

@media screen and (min-width: 500px) {
  .fonctionnement__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.fonctionnement__number {
  color: white;
  margin: auto;
  font-size: 12px;
}

.fonctionnement__container__number {
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  position: relative;
  right: 30px;
}

.fonctionnement__icone {
  position: relative;
  right: 27px;
}

.fonctionnement__bouton__text {
  position: relative;
  right: 27px;
  font-size: 18px;
  padding-left: 15px;
}

@use "../Utils/colors";
@use "../Utils/mixin";
.restaurant {
  background-color: #F6F6F6;
  padding-bottom: 50px;
}

.restaurant__container {
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.restaurant__container__img {
  margin: auto;
  width: 90%;
  background-color: white;
  position: relative;
}

.restaurant__img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (min-width: 600px) {
  .restaurant__img {
    height: 250px;
  }
}

@media screen and (min-width: 600px) {
  .restaurant__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .restaurant__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.restaurant__img__txt {
  position: absolute;
  right: 0%;
  margin: 15px;
  padding: 10px;
  background-color: #99E2D0;
  font-size: 15px;
  border-radius: 2px;
}

.restaurant__description {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  text-decoration: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  position: relative;
}

.restaurant__description p {
  margin: 0px;
}

.fa-heart {
  padding: 15px;
}

.restaurant__description__txt {
  padding-left: 15px;
  padding-bottom: 15px;
}

.restaurant__name {
  font-weight: bold;
  padding-top: 15px;
}

@use "../Utils/colors";
footer {
  background-color: #353535;
}

.footer__container {
  width: 90%;
  margin: auto;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px;
}

.footer__title {
  font-family: 'shrikhand','sans-serif';
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.footer__container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-utensils {
  padding-right: 18px;
}

.fa-hands-helping {
  padding-right: 11px;
}

.header__icone {
  float: left;
  padding-left: 10px;
  padding-top: 8px;
  font-size: 25px;
}

.container__img__menu {
  width: 100%;
}

.img__menu {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@use "../Utils/animation";
@use "../Utils/colors";
@use "../Utils/mixin";
.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  bottom: 50px;
}

.menu__title {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  position: relative;
}

.menu__txt {
  padding: 0px;
  font-family: 'shrikhand','sans-serif';
  font-weight: lighter;
}

hr {
  margin-right: auto;
  margin-left: 0px;
  width: 50px;
  height: 5px;
  background-color: #99E2D0;
  border-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu__categorie {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 700px;
}

h3 {
  font-weight: lighter;
  margin-bottom: 5px;
}

.menu__container {
  width: 90%;
  margin: auto;
  background-color: white;
  height: 80px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 5px #888;
          box-shadow: 2px 2px 5px #888;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  max-width: 700px;
}

.menu__container:hover .menu__check__animation {
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  margin-right: 0px;
}

.menu__container:hover .fa-check-circle {
  -webkit-animation: rotation-check 0.7s ease;
          animation: rotation-check 0.7s ease;
}

.menu__container__description {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.menu__container__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.menu__check__animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 2px 2px 5px #888;
          box-shadow: 2px 2px 5px #888;
  margin-right: -76px;
}

.fa-check-circle {
  font-size: 35px;
  color: white;
}

.menu__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__container__title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

.menu__price__txt {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
  margin-right: 10px;
}

.menu__boutton__color {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 20px 70px;
  border-style: none;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 5px #888;
          box-shadow: 2px 2px 5px #888;
  font-weight: lighter;
  cursor: pointer;
  font-size: 20px;
}

.menu__boutton {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

@use "../Utils/colors";
@use "../Utils/mixin";
.icone__heart__color {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  position: absolute;
  right: 0%;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.icone__heart__color:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 1;
  cursor: pointer;
}

.menu__title:hover .icone__heart__color, .menu__title:active .icone__heart__color {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 1;
  cursor: pointer;
}

.menu__container {
  -webkit-animation: appear 1s;
          animation: appear 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu__container:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.menu__container:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu__container:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu__container:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu__container:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.menu__container:nth-child(6) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu__container:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.menu__container:nth-child(8) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.menu__container:nth-child(9) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.menu__container:nth-child(10) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.menu__container:nth-child(11) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.menu__container:nth-child(12) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.menu__container:nth-child(13) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.menu__container:nth-child(14) {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.loader {
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: white;
  opacity: 0.8;
  height: 100vh;
  inset: 0;
  z-index: 2;
  -webkit-animation: dissapear 100ms 3s;
          animation: dissapear 100ms 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes dissapear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes dissapear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  z-index: 3;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.8s infinite;
          animation: lds-ellipsis1 0.8s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.8s infinite;
          animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.8s infinite;
          animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.8s infinite;
          animation: lds-ellipsis3 0.8s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@-webkit-keyframes rotation-check {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotation-check {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@use "../Utils/colors";
/*# sourceMappingURL=main.css.map */