@import "../Utils/colors";


.fonctionnement{
    background-color: white;
    padding-bottom: 60px;
}

.fonctionnement__boutton{
    width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border-style: none;
    border-radius: 20px;
    background-color: $light-grey;
    cursor: pointer;
    max-width: 400px;
    box-shadow: $box-shadow;
    &:hover{
        background-color: lighten($color-primaire,30%);
        .fonctionnement__icone__hover{
             color: $color-primaire;
        }
    }
}


.fonctionnement__container{
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: auto;
    @media screen and (min-width: 500px){
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.fonctionnement__number{
    color: white;
    margin: auto;
    font-size: 12px;
}

.fonctionnement__container__number{
    background-color: $color-primaire;
    display: flex;
    border-radius: 30px;
    height:30px ;
    width: 30px;
    position: relative;
    right: 30px;
}

.fonctionnement__icone{
    position: relative;
    right: 27px;
}


.fonctionnement__bouton__text{
    position: relative;
    right: 27px;
    font-size: 18px;
    padding-left: 15px;
    
}