footer{
    background-color: #353535;
}

.footer-container{
    width: 90%;
    margin: auto;
    color: white;
    padding-bottom: 20px;
    padding-top: 10px;
}

.footer-font{
    font-family:'shrikhand','sans-serif';
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.footer-container p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-utensils{
    padding-right: 18px;
}

.fa-hands-helping{
    padding-right: 11px;
}