header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.logo-client, .header-logo{
    font-size: 25px;
    font-family:'shrikhand','sans-serif';
}

