.header-icone{
    float: left;
    padding-left: 10px;
    padding-top: 6px;
    font-size:20px ;
}

.header-logo{
    text-align: center;
}

.container-image-menu{
    width: 100%;
}

.image-menu{
    width: 100%;
    height: 300px;
    object-fit: cover;
}



