.header__icone{
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    font-size: 25px ;
}

.container__img__menu{
    width: 100%;
}

.img__menu{
    width: 100%;
    height: 300px;
    object-fit: cover;
}



