@use "../Utils/colors";
@import "../Utils/mixin";


.reservation__ville{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: $darker-grey;
    font-size: 15px;
    text-align: center;
    margin: auto;
    box-shadow: inset 0px 6px 6px -6px #888;
}

.reservation__icone{
    position: relative;
    right: 15px;
}

.reservation__lorem{
    background-color: $light-grey;
}

h1{
    margin: 0px;
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    padding-left:50px;
    padding-right: 50px; 
}

.reservation__lorem p{
    text-align: center;
    padding-left:10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: lighten(black, 50%);
    font-size: 20px;  
}

.reservation__boutton{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.reservation__boutton__color{
    @include linear_gradient_boutton;
    padding: 15px 25px;
    border-style:none;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #888;
    cursor: pointer;
}