html{
    font-family:'roboto','sans-serif'; 
    box-sizing: border-box;
    font-size: 100%;
}

body{
    margin: 0px;
    background-color:#F6F6F6; ;
}

a{
    text-decoration: none;
}

.logo-client, .header-logo{
    font-family:'shrikhand','sans-serif';

}

p{
    margin: 0px;
}

h2{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

