@use "../Utils/variables";


html{
    font-family:'roboto','sans-serif'; 
    box-sizing: border-box;
    font-size: 100%;
}

body{
    margin: 0px;
    background-color: $light-grey;
}

a{
    text-decoration: none;
    color: inherit;
}
i{
    font-size: 20px;
}

.header__title{
    font-family:'shrikhand','sans-serif';
}

p{
    margin: 0px;
}

h2{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

